.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_logo {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 8px;
  margin-right: auto;
  margin-left: auto;
}
.login__container {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid purple;
  padding: 20px;
}

.login__container > h1 {
  font-weight: 500px;
  margin-bottom: 20px;
}

.login__container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: wheat;
  width: 98%;
}
.login__container > p {
  margin-top: 15px;
  font-size: 12px;
}

.login__signInButton {
  background: purple;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: white;
  color: white;
}

.login__registerButton {
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  background: purple;
  border-color: white;
  color: white;
}
